*{
  box-sizing: border-box;
  color:var(--bojPut);
}

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--bela);
  z-index: 3;
}

.navbar-tpl * {
  color: var(--bojPut) !important;
  background: var(--bela);
}

.navbar_userIcon{
  width:40px;height: 40px;object-fit: cover;border: 2px solid var(--bojPut);padding: 3px;
}
.btn-primary{
  background-color: var(--bojPut);
} 

div-breadcrumb {
  position: fixed;
  top: 74px;
  left: 0px;
  right: 0px;
  padding: 10px 15px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
  background: var(--bela);
  z-index: -1;
  padding-bottom: 0px;
}


main{
  position: fixed;
  top: 127px;
  bottom: 0px;
  max-width: var(--width);
  min-width: var(--width);
  padding: 15px;
  overflow: scroll;
  display: grid;
}
.left-col{
  width: 250px;
}
.navbar-collapse{
  
    width: 250px;
    position: absolute;
    top: 65px;
    right: 10px;
    background: transparent;

}

.navbar-nav{
  
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 10%);

    border-radius: 10px;
    opacity: 0.9;
    padding: 0px 10px;

}

.navbar-nav .nav-item a:hover {
  background:var(--bojPut);
  color:var(--bela);
  border-radius:6px;
  padding:8px 10px;
  transition:.3s;
}

.navbar-nav .nav-item a:hover{
  color: var(--bela) !important; 
}
 
.left-col{
  width: 250px;
     
}
.left-col div-col,
#list_col{
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    background:var(--bela);
    padding: 0px;
    color: var(--mdb-body-bg);
    border-radius: 6px;
}
.left-col ul{
  list-style-type:none;
}
div-col *{
  padding: 0px;
  margin: 0px;
}


#list_col li a
{
  color: var(--bojPut);
  font-weight:bold;
}


#list_col li:hover{
  background:var(--bojPut);
  color:var(--bela);
  border-radius:6px; 
  transition:.3s;
}

#list_col li:hover *{
  color: var(--bela);
}

#list_col .icon_b{
  width:20px;
}

#list_col li a:hover .icon_b{
  color:var(--bela);
}


#list_col li a:hover{
  color: var(--bela) !important; 
}

.left-col ul li{
  padding: 10px;
}


div-breadcrumb  nav{
  max-width: var(--width);
  margin: auto;
}

.navbar .container-fluid{
  max-width: var(--width);
  margin: auto;
  padding: 0px;
}

#list_col{
  max-width: 200px;
}

#welcome .container{
  padding: 0px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 13px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.left-col-r{
  width: 200px;
}

.left-col-r{
  max-width: 219px;
}

.left-col-rr{
  
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
    background: var(--bela);
  overflow: scroll;
}


.breadcrumb a{
  color:var(--bojaPut);
}


@media only screen and (max-width: 500px) {
  .row{
    display:grid !important;
    width: 100%;
    margin: 0px;
  }

  :root{
    --width:100%;
  }

  .left-col-r{
    display:none;
  }

  .left-col-rr{
    width:100%;
    min-height:250px;
    height:fit-content;
  }
}