
.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--bela);
  z-index: 3;
}

.navbar-tpl * {
  color: var(--bojPut) !important;
  background: var(--bela);
}

.navbar_userIcon{
  width:40px;height: 40px;object-fit: cover;border: 2px solid var(--bojPut);padding: 3px;
}
.btn-primary{
  background-color: var(--bojPut);
} 

div-breadcrumb {
  position: fixed;
  top: 74px;
  left: 0px;
  right: 0px;
  padding: 10px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
  background: var(--bela);
  z-index: -1;
  padding-bottom: 0px;
}


main{
  
    position: fixed;
    top: 127px;
    bottom: 0px;
    max-width: 1100px;
    min-width: 1100px;
    background: red;

}
.left-col{
  width: 250px;
}
.navbar-collapse{
  
    width: 250px;
    position: absolute;
    top: 65px;
    right: 10px;
    background: transparent;

}

.navbar-nav{
  
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 10%);

    border-radius: 10px;
    opacity: 0.9;
    padding: 0px 10px;

}

.navbar-nav .nav-item a:hover {
  background:var(--bojPut);
  color:var(--bela);
  border-radius:6px;
  padding:8px 10px;
  transition:.3s;
}

.navbar-nav .nav-item a:hover{
  color: var(--bela) !important; 
}