*{
  margin:0px;
  padding:0px;
}

:root {
    --boja1: #263238;
    --bela: #fff;
    --bojPut: #546e7a;
    --zelena: #4caf50;
    --naradzasta_test: rgb(255, 81, 0);
    --plava: blue;
    --ljubivasta: purple;
    --roza_test: #EAD1DC;
    --bela_prozirna: rgb(255 255 255 / 68%);
    --mdb-blue: var(var(--bojPut));
    --width: 900px;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--boja1);
    border-color: var(--boja1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .3s;
}

.dark_theme {
    --boja1: #fff;
    --bela: #263238;
    --bojPut: #ffffffa1;
    --zelena: #4caf50;
    --naradzasta_test: rgb(255, 81, 0);
    --plava: blue;
    --ljubivasta: purple;
    --roza_test: #EAD1DC;
    --bela_prozirna: rgb(255 255 255 / 68%); 
    --mdb-blue: var(var(--bojPut));
    --width: 900px;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



#socialLinks {
  list-style-type:none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: inline-flex;
  padding: 0px;
  margin: 0px;
}

#socialLinks li {
  padding: 0px 9px;
}

#socialLinks li a{
  color: #333;
  font-size: 25px;
  opacity: 0.6;
  transition: .3s;
}

#socialLinks li a:hover{
  opacity: 1 ;
}

#msgBox{
  transition:  .3s;
  opacity: 1;
}
.msgBox{
  color:red;
  font-weight:bold;
  padding:15px 0px;
}
 


.btn-primary{
  background-color: var(--bojPut);
} 

.pen{
  pointer-events: none;
}